@use '../../variables' as v;

nav[id$=offcanvas] {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    background-color: v.$grape;
    height: 100%;
    transition: width 400ms ease-in-out;
    overflow: auto;
    z-index: 10;

    menu.nav-elements {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    
        li {
            display: flex;
            padding-left: 1.5rem;
            transition: padding 300ms ease-in-out;
    
            a {
                flex:auto;
                font-size: 1.15rem;
                color: v.$lightest;
                text-decoration: none;
                padding: 1rem;

            } a:hover {font-weight: bolder;}
            button.dropdown {
                flex: 1;
                padding: 1rem;
                max-width: 20%;
                background: none;
                border: 0;
                color: v.$lightest;
                font-size: 1rem;
                transform: rotate(90deg);
                cursor: pointer;
                transition: font-size 100ms ease-in-out, transform 200ms ease-in-out;
            } button.dropdown:hover {
                font-size: 1.2rem;
            } button.dropdown::before {
                content: ' \25C4';
            } button.dropdown.open {
                transform: rotate(0deg);
            }
        } li:hover { padding-left: 2rem;}
        menu.dropdown-elements {
            padding-left: 1.5rem;
            max-height: 0;
            transition: max-height 500ms ease-in-out;
        } menu.dropdown-elements.open {
            max-height: 999px;
        }
    }

}
nav#offcanvas.open {width: 300px;}