// ------------------------- Color Variables
$grape: #573266;
$info: #404890;
$success: #2a5926;
$warning: #dacb4b;
$danger: #912929;

$link: #0032ed;

$dark: #454545;

$light: #eeeeee;
$lighter: #f9f9f9f9;
$lightest: white;

